.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3A5F0B;
    color: #fff;
  }
  
  .login {
    margin-left: 1rem;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar {
    padding: 0.5rem 1rem;
  }
  
  .nav-item .btn {
    border-radius: 20px;
  }

  .benzovoz_logo {
    margin-right: 20px;
  }
  